*{
    box-sizing: border-box;
}
.header{
    width: 850px;
    height: 400px;
    background-color: lightskyblue;
    margin: 0 auto;
}
.profilepicture{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: mediumblue;
    top: 250px;
    left: 50px;
    z-index: 3;
}
.navbar{
    width: 850px;
    height: 100px;
    background-color: mediumorchid;
    margin: 0 auto;
    position: relative;
    top: -25px;
}
.columns{
    width: 850px;
    margin: 0 auto;
}
.leftcolumn{
    position: relative;
    width: 328px;
    height: 400px;
    background-color: mediumseagreen;
    float: left;
    top: 40px;
}
.rightcolumn{
    position: relative;
    width: 512px;
    height: 600px;
    background-color: moccasin;
    float: right;
    top: 40px;
}
ul button{
    display: inline;
    position: relative;
    top:50px;
    left:250px
}